<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Recuperação de Senha</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="margin:0; padding:0; font-family: Open Sans, sans-serif;">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <table
            align="center"
            cellpadding="0"
            cellspacing="0"
            width="97%"
            style="background-color: #ffffff; margin: 16px auto; overflow: hidden;"
          >
            <!-- Cabeçalho -->
            <tr>
              <td
                style="background-color: #F3C50D; text-align: center; padding: 16px; "
              >
                <img
                  src="https://i.ibb.co/9m9TH91v/Logo-with-Text.png"
                  alt="Logo Foco TCC"
                  width="160"
                  style="margin: 16px 0;"
                />
              </td>
            </tr>

            <!-- Corpo -->
            <tr>
              <td style="padding: 16px 24px;">
                <h1 style="font-size: 24px; color: #000;">Recuperar Senha</h1>
                <p style="font-size: 16px; color: #000;">Olá {{userName}},</p>
                <p style="font-size: 16px; color: #000;">Você solicitou a
                  recuperação de senha.</p>
                <p style="font-size: 16px; color: #000;">Clique no botão abaixo
                  para redefinir sua senha:</p>

                <p style="margin: 24px 0;">
                  <a
                    href="{{resetLink}}"
                    style="background-color: #0F2C67; color: white; padding: 12px 24px; text-decoration: none; display: inline-block;"
                  >
                    Redefinir Senha
                  </a>
                </p>

                <p style="font-size: 14px; color: #555;">Se você não solicitou
                  essa alteração, ignore este e-mail.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>