# Faça uma cópia deste arquivo e renomeie para .env
# Preencha as variáveis de ambiente conforme necessário.

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/meu_banco
PORT=3000
NODE_ENV=development
JWT_SECRET=seu_segredo_jwt

# configuração do SendGrid
SENDGRID_API_KEY=sua_chave_sendgrid # Chave de API do SendGrid para envio de emails
# Certifique-se de substituir "sua_chave_sendgrid" pela sua chave real do SendGrid.

# url do Frontend
CLIENT_URL=http://localhost:5173 # URL do frontend

OPENROUTER_API_KEY=
